@model GisysAPI.ViewModels.EmployeeListViewModel
@{
    ViewData["Title"] = "All Employees";
}
<h3>@ViewBag.StatusCode</h3>

@if(Model.ListOfEmployee != null)
{ 
    <h2>All Employees</h2>
<div>
    <table class="table table-hover table-bordered box-style">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfEmployee)
            {
                <tr class="sortable" role="button" onclick="location.href = '@Url.Action("GetEmployee", "Home", new { id=item.Id })'">
                    <td>@item.Name</td>

                </tr>
            }
        </tbody>
    </table>
</div>
}